<template>
  <v-app id="inspire">
    <v-app id="inspire">
      <v-navigation-drawer
        v-model="drawer"
        app
      >
        <v-list dense>
          <v-list-item link to="/dasboard">
            <v-list-item-action>
              <v-icon>mdi-home</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Home</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
           <v-list-item link to="/farms">
            <v-list-item-action>
              <v-icon>mdi-gate</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Fincas</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
           <v-list-item link to="/trucks">
            <v-list-item-action>
              <v-icon>mdi-truck-fast</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Camiones</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
           <v-list-item link to="/distributors">
            <v-list-item-action>
              <v-icon>mdi-account-convert</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Repartidor</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
            <v-list-item link to="/lots">
            <v-list-item-action>
              <v-icon>mdi-package-variant</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Lotes</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
            <v-list-item link to="/manifestos">
            <v-list-item-action>
              <v-icon>mdi-printer-settings</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Manifiestos</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
            <v-list-item link to="/nomina">
            <v-list-item-action>
              <v-icon>mdi-library-books</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Nomina</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item link @click="logout">
            <v-list-item-action>
              <v-icon>mdi-logout</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Logout</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
  
      <v-app-bar
        app
        color="blue darken-4"
        dark
      >
        <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
         <v-img
            max-height="45"
            max-width="90"
            src="https://www.domina.com.co/wp-content/uploads/2021/08/logo-dom-foot.png"
            alt="Vuetify"
            ></v-img>
       <!--  <v-toolbar-title>DOMINA PRUEBA</v-toolbar-title> -->
         <v-spacer></v-spacer>
          <v-btn icon>
            <v-icon>mdi-account-check mdi-24px</v-icon>
          </v-btn>
          <span class="white--text subtitle-2 hidden-sm-and-down"> {{ user.name  }}</span>
      </v-app-bar>
  
      <v-main class="blue-grey lighten-5">
        <v-container>
          <router-view></router-view>
        </v-container>
      </v-main>
      <v-footer
        color="blue darken-4"
        app
      >
        <span class="white--text"
          >Luis Alberto Rojas A. &copy;
          {{ new Date().getFullYear() }}</span
        >
      </v-footer>
    </v-app>
  </v-app>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'Home',
  data() {
    return {
      drawer: null,
    }
  }, 

  computed: {
    ...mapState('login', ['token','user'])
  }, 

  methods: {
      logout(){ 
        localStorage.removeItem('spa_token')
        this.$router.push("/login")
      }
  }
  
}
</script>
