<template>
    <div>
        <pre>{{ token }}</pre>
        <pre>{{ user }}</pre>
    </div>
</template>
<script>
import { mapState } from 'vuex'
export default {
  computed: {
    ...mapState('login', ['token','user'])
  }
}
</script>