<template>
  <div>
    <v-card>
      <v-container>
        <v-card-title>
          <v-row>
            <v-col md="8" sm="6" cols="12">
              <v-subheader class="black--text subtitle-2"
                >List of manifestos</v-subheader
              >
            </v-col>
            <v-col md="4" sm="6" cols="12">
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Search manifesto"
                single-line
                hide-details
                @keyup.enter="getList([0, search])"
              ></v-text-field>
            </v-col>
          </v-row>          
        </v-card-title>
        <v-simple-table>
        <template v-slot:default>
          <thead>
            <tr>
              <th class="text-left black--text">Options</th>
              <th class="text-left black--text">IdManifesto</th>
              <th class="text-left black--text">payroll_date</th>
              <th class="text-left black--text">Distributor</th>
              <th class="text-left black--text">Camión</th>
              <th class="text-left black--text">Created_at</th>
              <th class="text-left black--text">Update_at</th>
            </tr>            
          </thead>
          <tbody>
            <tr v-for="item in manifestos.data" :key="item.id">
              <td>
                <v-tooltip top>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      v-bind="attrs"
                      v-on="on"
                      icon
                      color="blue-grey lighten-1"
                      @click="openModel('detail', item)"
                    >
                      <v-icon>mdi-clipboard-text mdi-24px</v-icon>
                    </v-btn>
                  </template>
                  <span>Details</span> 
                </v-tooltip>
                 <v-tooltip top>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      v-bind="attrs"
                      v-on="on"
                      icon
                      color="red"
                      @click="openModel('detail', item)"
                    >
                      <v-icon>mdi-delete mdi-24px</v-icon>
                    </v-btn>
                  </template>
                  <span>Delete</span> 
                </v-tooltip>
              </td>  
              <td v-text="item.id"></td>
              <td v-text="item.payroll_date"></td>
              <td v-text="item.trucks.distributors.name"></td>
              <td v-text="item.trucks.placa"></td>
              <td v-text="item.created_at.substring(19, 0)"></td>
              <td v-text="item.updated_at.substring(19, 0)"></td>
            </tr>
          </tbody>
        </template>
        </v-simple-table>
        <paginate store="manifesto" collection="manifestos" />
      </v-container>    
    </v-card>
    <v-dialog v-model="dialog">
        <v-card>
            <v-card-title>
                {{ tittle }}
            </v-card-title>
            <v-card-text>
                <v-simple-table>
                    <template v-slot:default>
                    <thead>
                        <tr>
                            <th class="text-left black--text">Id</th>
                            <th class="text-left black--text">farms</th>
                            <th class="text-left black--text">collection_date</th>
                            <th class="text-left black--text">quantity_mango</th>
                            <th class="text-left black--text">Deliver</th>
                            <th class="text-left black--text">return quantity</th>
                        </tr>            
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in details" :key="item.id">
                            <td v-text="item.id"></td>
                            <td v-text="item.lots.farms.name"></td>
                            <td v-text="item.lots.collection_date"></td>
                            <td v-text="item.lots.quantity_mango"></td>
                            <td>
                              <input align="right" :id="'idDeliver_' + index" type="number" size="7" min="1" max="5000" v-model="item.deliver">
                            </td>
                            <td>{{ parseFloat(item.lots.quantity_mango).toFixed(0) - parseFloat(item.deliver).toFixed(0) }}</td>
                        </tr>
                    </tbody>
                  </template>
                </v-simple-table>
            </v-card-text>
            <v-card-actions>
              <v-btn
                class="white--text yellow darken-4"
                @click="update()"
              >
                Edit Manifesto
              </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import paginate from "./paginate";
import Swal from "sweetalert2";

const Toast = Swal.mixin({
  toast: true,
  position: "top-end",
  showConfirmButton: false,
  timer: 3000,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener("mouseenter", Swal.stopTimer);
    toast.addEventListener("mouseleave", Swal.resumeTimer);
  },
});

export default {
  data() {
    return {
      search: '',
      tittle: '',
      dialog: false,
      details: []
    };
  },

  components: {
    paginate,
  },

  computed: {
    ...mapState("manifesto", ["manifestos"]),
  },

  methods: {
    ...mapActions("manifesto", ["getList","updateManifesto"]),
    openModel(action, data) {
      this.dialog = true;
      switch (action) {
        case "detail":
          this.typeAction = 1;
          this.dialog = true
          this.tittle = `Details Manifesto: ${data.id}`;
          this.details = data.details 
          break;

        default:
          break;
      }
    },

    update() {
      this.updateManifesto(this.details)
      .then((response) => {
        console.log(response)
        this.getList([0, this.search]);
         Toast.fire({
            icon: "success",
            title: "manifesto Actualizado exisotamente",
          });
          this.dialog = false
      })
      .catch((error) => {
        console.log(error)
      })
    }
  },

  created() {
    this.getList([0, this.search]);
  },
};
</script>