<template>
  <div>
    <v-card>
      <v-container>
        <v-card-title>
            <v-row>
                <v-col md="8" sm="6" cols="12">
                    <v-subheader class="black--text subtitle-2"
                        >Módule Nomina</v-subheader
                    >
                </v-col>
                <v-form ref="form">
                    <v-row class="mx-2">
                        <v-col md="3" sm="6" cols="12">
                            <v-text-field
                            dense
                            type="number"
                            hint="Max 4 digitos"
                            label="Año nomina"
                            v-model="search.anio"
                            />
                        </v-col>             
                        <v-col md="3" sm="6" cols="12">
                            <v-text-field
                            dense
                            type="number"
                            label="Mes nomina"
                            hint="Max 2 digitos"
                            v-model="search.mes"
                            />
                        </v-col>
                
                        <v-col md="3" sm="6" cols="6">
                            <v-btn
                            dense                      
                            class="white--text"
                            color="green darken-1"
                            small
                            @click="generateNomina()"
                            >
                            <v-icon>
                            mdi-settings mdi-24px
                            </v-icon>
                            Generar Reporte                      
                            </v-btn>
                        </v-col>  
                        <v-col md="3" sm="6" cols="6">
                            <v-btn
                            dense                      
                            class="white--text"
                            color="blue darken-1"
                            small
                            @click="clear()"
                            >
                            <v-icon>
                            mdi-delete mdi-24px
                            </v-icon>
                            Limpiar                      
                            </v-btn>
                        </v-col>         
                    </v-row>
                </v-form>
            </v-row>       
        </v-card-title>
        <v-container>
             <v-row>  
                <v-col md="12" sm="12" cols="12">
                    <div class="div-error">
                        <div class="text-error">
                            <div v-for="(error, id) in errorMessages" :key="id" v-text="error"></div>
                        </div>
                    </div>
                </v-col>
            </v-row>  
               <v-simple-table>
        <template v-slot:default>
          <thead>
            <tr>
              <th class="text-left black--text">No.</th>
              <th class="text-left black--text">Name</th>
              <th class="text-left black--text">tlote</th>
              <th class="text-left black--text">tdeliver</th>
              <th class="text-left black--text">tnomina</th>
            </tr>            
          </thead>
          <tbody>
            <tr v-for="(item, index) in distributors" :key="item.id">
              <td v-text="index + 1"></td>
              <td v-text="item.name"></td>
              <td v-text="item.tlote"></td>
              <td v-text="item.tlotedeliver"></td>
              <td>${{item.tnomina.toFixed(2)}}</td>
            </tr>
          </tbody>
        </template>
        </v-simple-table>
        </v-container>
     
      </v-container>    
    </v-card>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  data() {
    return {
        search: {
            mes: '',
            anio: ''
        },
        errorTotal: 0,
        errorMessages: []
    };
  },

  computed: {
    ...mapState("nomina", ["distributors"]),
  },

  methods: {
    ...mapActions("nomina", ["getDistributors"]),
    generateNomina() {
        if(this.validate()) {
            return
        }
        this.getDistributors([this.search])
    }, 

    validate(){
        this.errorTotal = 0
        this.errorMessages = []
        if(!this.search.anio) this.errorMessages.push('Seleccionar año de nomina')
        if(!this.search.mes) this.errorMessages.push('Seleccionar mes de nomina')
        if(this.errorMessages.length > 0) { this.errorTotal = 1 }
        return this.errorTotal
    },

    clear() {
        this.$store.commit('nomina/SET_DISTRIBUTORS', {}); 
    }
  },

  created() {
    this.$store.commit('nomina/SET_DISTRIBUTORS', {}); 
  }
};
</script>
<style>
.div-error {
  display: flex;
  justify-content: center;
}
.text-error {
  color: #bd0b01 !important;
  font-weight: bold;
  text-align: center;
  font-size: 13px;
}
</style>