<template>
  <v-pagination
    color="blue darken-4"
    v-model="currenPage"
    :length="lastPage"
    :total-visible="8"
  ></v-pagination>
</template>

<script>
export default {
  props: ["store", "collection"],
  watch: {
    currenPage(newVal) {
      this.paginatePage(newVal);
    },
  },

  computed: {
    currenPage: {
      get() {
        return this.$store.state[this.store][this.collection].current_page;
      },

      set(value) {
        this.$store.commit(this.store + "/SetCurrentPage", value);
      },
    },

    lastPage: {
      get() {
        return this.$store.state[this.store][this.collection].last_page;
      },
    },
  },

  methods: {
    paginatePage(pageNumber) {
      this.$store.dispatch(this.store + "/getList", [pageNumber, ""]);
    },
  },
};
</script>