<template>
  <div>
    <v-card>
      <v-container>
        <v-card-title>
          <v-row>
            <v-col md="8" sm="6" cols="12">
              <v-subheader class="black--text subtitle-2"
                >List of trucks</v-subheader
              >
            </v-col>
            <v-col md="4" sm="6" cols="12">
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Search truck"
                single-line
                hide-details
                @keyup.enter="getList([0, search])"
              ></v-text-field>
            </v-col>
          </v-row>          
        </v-card-title>
        <v-simple-table>
        <template v-slot:default>
          <thead>
            <tr>
              <th class="text-left black--text">Id</th>
              <th class="text-left black--text">Farm</th>
              <th class="text-left black--text">Distributor</th>
              <th class="text-left black--text">placa</th>
              <th class="text-left black--text">Created_at</th>
              <th class="text-left black--text">Update_at</th>
            </tr>            
          </thead>
          <tbody>
            <tr v-for="item in trucks.data" :key="item.id">
              <td v-text="item.id"></td>
              <td v-text="item.farms.name"></td>
              <td v-text="item.distributors.name"></td>
              <td v-text="item.placa"></td>
              <td v-text="item.created_at.substring(19, 0)"></td>
              <td v-text="item.updated_at.substring(19, 0)"></td>
            </tr>
          </tbody>
        </template>
        </v-simple-table>
        <paginate store="truck" collection="trucks" />
      </v-container>    
    </v-card>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import paginate from "./paginate";

export default {
  data() {
    return {
      search: "",
    };
  },

  components: {
    paginate,
  },

  computed: {
    ...mapState("truck", ["trucks"]),
  },

  methods: {
    ...mapActions("truck", ["getList"]),
  },

  created() {
    this.getList([0, this.search]);
  },
};
</script>